.d-flex {
    margin-left: 700px;
}
.desf1 {
    width: 35%;
    margin-left: 450px;
    height: auto;
    margin-bottom: 120px;
}
.desf2 {
    margin-left: 400px; 
    margin-bottom: 120px;
}
.desf3 {
    margin-left: 450px;
    height: auto;
    margin-bottom: 120px;
}
.desf4 {
    margin-left: 450px;
    height: auto;
    margin-bottom: 120px;
}
.desf5 {
    margin-left: 450px;
    height: auto;
    margin-bottom: 120px;
}
.footer {
    background: #6AC0D5;
}